<?xml version="1.0" encoding="UTF-8"?>

<config>
    <modules>
        <Epam_Brands>
            <version>0.1.0</version>
        </Epam_Brands>
    </modules>
    <frontend>
        <routers>
            <brands>
                <use>standard</use>
                <args>
                    <module>Epam_Brands</module>
                    <frontName>brands</frontName>
                </args>
            </brands>
        </routers>
        <layout>
            <updates>
                <brand>
                    <file>epam_brands.xml</file>
                </brand>
            </updates>
        </layout>
        <translate>
            <modules>
                <Epam_Brands>
                    <files>
                        <default>Epam/Epam_Brands.csv</default>
                    </files>
                </Epam_Brands>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Epam_Brands>Epam_Brands_Adminhtml</Epam_Brands>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <ebrands module="Epam_Brands">
                    <file>epam_brands.xml</file>
                </ebrands>
            </updates>
        </layout>
        <translate>
            <modules>
                <Epam_Brands>
                    <files>
                        <default>Epam/Epam_Brands.csv</default>
                    </files>
                </Epam_Brands>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <events>
            <controller_front_init_routers>
                <observers>
                    <ebrands>
                        <class>Epam_Brands_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </ebrands>
                </observers>
            </controller_front_init_routers>
        </events>
        <models>
            <ebrands>
                <class>Epam_Brands_Model</class>
                <resourceModel>epam_brands_resource</resourceModel>
            </ebrands>
            <epam_brands_resource>
                <class>Epam_Brands_Model_Resource</class>
                <entities>
                    <brand>
                        <table>epam_brands</table>
                    </brand>
                    <store>
                        <table>epam_brand_stores</table>
                    </store>
                </entities>
            </epam_brands_resource>
        </models>
        <helpers>
            <ebrands>
                <class>Epam_Brands_Helper</class>
            </ebrands>
        </helpers>
        <blocks>
            <ebrands>
                <class>Epam_Brands_Block</class>
            </ebrands>
        </blocks>
        <resources>
            <ebrands_setup>
                <setup>
                    <module>Epam_Brands</module>
                    <class>Epam_Brands_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ebrands_setup>
            <ebrands_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ebrands_write>
            <ebrands_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ebrands_read>
        </resources>
    </global>
    <default>
        <ebrands>
            <general>
                <is_enabled>1</is_enabled>
                <attr_name>manufacturer</attr_name>
            </general>
        </ebrands>
    </default>
</config>
