<?xml version="1.0"?>
<config>
    <modules>
        <Epam_Layered>
            <version>0.2.0</version>
        </Epam_Layered>
    </modules>
    <global>
        <helpers>
            <layered>
                <class>Epam_Layered_Helper</class>
            </layered>
        </helpers>
        <blocks>
            <layered>
                <class>Epam_Layered_Block</class>
            </layered>
            <enterprise_search>
                <rewrite>
                    <catalog_layer_filter_attribute>Epam_Layered_Block_Catalog_Layer_Filter_Attribute</catalog_layer_filter_attribute>
                    <catalog_layer_filter_price>Epam_Layered_Block_Catalog_Layer_Filter_Price</catalog_layer_filter_price>
                </rewrite>
            </enterprise_search>
            <catalog>
                <rewrite>
                    <layer_filter_attribute>Epam_Layered_Block_Catalog_Layer_Filter_Attribute</layer_filter_attribute>
                    <layer_filter_price>Epam_Layered_Block_Catalog_Layer_Filter_Price</layer_filter_price>
                </rewrite>
            </catalog>
        </blocks>
        <models>
            <layered>
                <class>Epam_Layered_Model</class>
                <resourceModel>layered_resource</resourceModel>
            </layered>
            <layered_resource>
                <class>Epam_Layered_Model_Resource</class>
                <entities>
                    <options>
                        <table>epam_layered_options</table>
                    </options>
                </entities>
            </layered_resource>

            <catalog>
                <rewrite>
                    <layer_filter_attribute>Epam_Layered_Model_Catalog_Layer_Filter_Attribute</layer_filter_attribute>
                </rewrite>
            </catalog>

            <enterprise_search_resource>
                <rewrite>
                    <collection>Epam_Layered_Model_Resource_Enterprise_Search_Collection</collection>
                </rewrite>
            </enterprise_search_resource>
            <enterprise_search>
                <rewrite>
                    <catalog_layer_filter_attribute>Epam_Layered_Model_Catalog_Layer_Filter_Attribute</catalog_layer_filter_attribute>
                </rewrite>
            </enterprise_search>
        </models>
        <resources>
            <layered_setup>
                <setup>
                    <module>Epam_Layered</module>
                    <class>Epam_Layered_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </layered_setup>
            <layered_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </layered_read>
            <layered_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </layered_write>
        </resources>
        <events>
            <catalog_entity_attribute_save_before>
                <observers>
                    <store_custom_appearance>
                        <class>layered/observer</class>
                        <method>storeCustomAppearance</method>
                    </store_custom_appearance>
                </observers>
            </catalog_entity_attribute_save_before>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <layered module="Epam_Layered">
                    <file>epam_layered.xml</file>
                </layered>
            </updates>
        </layout>
        <translate>
            <modules>
                <Epam_Layered>
                    <files>
                        <default>Epam/Epam_Layered.csv</default>
                    </files>
                </Epam_Layered>
            </modules>
        </translate>
        <routers>
            <layered>
                <use>standard</use>
                <args>
                    <module>Epam_Layered</module>
                    <frontName>layered</frontName>
                </args>
            </layered>
            <catalog>
                <args>
                    <modules>
                        <Epam_Layered before="Mage_Catalog">Epam_Layered_Catalog</Epam_Layered>
                    </modules>
                </args>
            </catalog>
            <catalogsearch>
                <args>
                    <modules>
                        <Epam_Layered before="Mage_CatalogSearch">Epam_Layered_Catalogsearch</Epam_Layered>
                    </modules>
                </args>
            </catalogsearch>
        </routers>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <layered module="Epam_Layered">
                    <file>epam_layered.xml</file>
                </layered>
            </updates>
        </layout>
        <translate>
            <modules>
                <Epam_Layered>
                    <files>
                        <default>Epam/Epam_Layered.csv</default>
                    </files>
                </Epam_Layered>
            </modules>
        </translate>
    </adminhtml>

    <default>
        <layered>
            <general>
                <max_unfolded_options>8</max_unfolded_options>
            </general>
            <price_slider>
                <ajax_timeout>120</ajax_timeout>
            </price_slider>
        </layered>
    </default>
</config>
